#basketField{
    width: 600px;
    height: 340px;
    background-color: #DF6F2A;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#threePointLine {
    width: 200px; 
    height: 250px; 
    border: 2px solid #FFFFFF;
    border-radius: 0px 150px 150px 0px;
    margin-right: 600px;
    margin-top: 45px;
    position:absolute
}

#threePointLineLeft {
    width: 200px; 
    height: 250px; 
    border: 2px solid #FFFFFF;
    border-radius: 0px 150px 150px 0px ;
    margin-left: 396px;
    margin-top: 45px;
    position:absolute;
    transform: rotate(180deg);
    
}

#block {
    position: absolute;
    margin-top:125px;
    margin-left: -5px;
    width: 14vw;
    height: 7vw;
    border: 2px solid #FFFFFF;
    transform: perspective(20vw) rotateY(45deg);
}

#blockLeft {
    position: absolute;
    margin-top:125px;
    margin-left: 417px;
    width: 14vw;
    height: 7vw;
    border: 2px solid #FFFFFF;
    transform: perspective(20vw) rotateY(310deg);
}

#elbowCircle {
    width: 75px;
    height: 75px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    margin-left: 100px;
    margin-top: 135px;
}

#elbowCircleLeft{
    width: 75px;
    height: 75px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    margin-left: 437px;
    margin-top: 135px;
}

#centerLine{
    width: 2px;
    height: 340px;
    background: #FFFFFF;
    border: 0px;
    position: absolute;
    margin-left: 299px;
    
}

#circle {
    width: 100px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    background: #DF6F2A;
    position: absolute;
    margin-left: 250px;
    margin-top: 120px;
}




